body {
	margin: 0;
	font-family: Helvetica;
}

#header {
	width: 500px;
	height: 500px;
}

h1 {
	font-weight: 100;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}